/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    margin: 15px;
}

h1,
h2,
h3,
h4 {
    margin: 15px 0px;
}

