<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
<nav th:replace="/fragments/navigation :: nav"></nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}" th:text="home"></a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="addtraineruser"></li>
    </ol>
</nav>

<h3>Dodaj nowego prowadzącego:</h3>
<div class="form">
    <form method="post" th:action="@{/addtraineruser}" th:object="${traineruserdto}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="loginInput">Nazwa użtkownika:</label>
            <div class="col-sm-10">
                <input class="form-control" id="loginInput" type="text" th:field="*{login}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="passwordInput">Hasło:</label>
            <div class="col-sm-10">
                <input class="form-control" id="passwordInput" type="password" th:field="*{password}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="firstNameInput">Imię:</label>
            <div class="col-sm-10">
                <input class="form-control" id="firstNameInput" type="text" th:field="*{firstName}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="lastNameInput">Nazwisko:</label>
            <div class="col-sm-10">
                <input class="form-control" id="lastNameInput" type="text" th:field="*{lastName}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="isActiveSelect">Aktywność konta:</label>
            <div class="col-sm-10">
                <select class="form-control" id="isActiveSelect" th:field="*{isActive}">
                    <option th:value="true" selected>Aktywne</option>
                    <option th:value="false">Nieaktywne</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg">Dodaj</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>