<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/head :: head"></head>
<body>
<nav th:replace="/fragments/navigation :: nav"></nav>

<div class="content">
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasAuthority('TRAINER')">
        This content is only shown to trainers.
    </div>
    <div sec:authorize="hasAuthority('STUDENT')">
        This content is only shown to students.
    </div>
    <div sec:authorize="hasRole('USER')">
        This content is only shown to users.
    </div>

    <a class="btn btn-primary btn-lg" th:href="@{/login}">Zaloguj się</a>
    <a class="btn btn-primary btn-lg" th:href="@{/addtraineruser}">Dodaj prowadzącego</a>
    <a class="btn btn-primary btn-lg" th:href="@{/trainerusers}">Lista prowadzących</a>
    <a class="btn btn-primary btn-lg" th:href="@{/addstudentuser}">Dodaj uczestnika</a>
    <a class="btn btn-primary btn-lg" th:href="@{/studentusers}">Lista uczestników</a>
    <a class="btn btn-primary btn-lg" th:href="@{/applyfortraining}">Rejestracja nowego uczestnika</a>
</div>
<nav th:replace="/fragments/footer :: footer"></nav>
</body>
</html>