<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TMS - All trainer users</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{style.css}"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}" th:text="home"></a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="trainerusers"></li>
    </ol>
</nav>
<h3>Lista trenerów:</h3>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Lp.</th>
        <th scope="col">Login</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Status konta</th>
        <th scope="col">Typ konta</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trainerUser : ${listOfAllTrainerUsers}">
        <th scope="row" th:text="${trainerUserStat.index+1}"></th>
        <th scope="row" th:text="${trainerUser.login}"></th>
        <th scope="row" th:text="${trainerUser.firstName}"></th>
        <th scope="row" th:text="${trainerUser.lastName}"></th>
        <th scope="row" th:text="${trainerUser.isActive}"></th>
        <th scope="row" th:text="${trainerUser.userType}"></th>
        <th scope="row"><a class="btn btn-secondary btn-lg"
                           th:href="@{/trainerusers/{id}/delete(id=${trainerUser.id})}">Usuń</a></th>
    </tr>
    </tbody>
</table>
</body>
</html>