/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html, body {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 25px 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 15px 15px;
    flex: 1 0 auto;
}

.listOfTraining ul {
    list-style-type: circle;
}

.listOfActions ul {
    list-style-type: none;
    padding: 5px;
}

.listOfActions ul li {
    display: inline;
}

.reg_form_wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.footer {
    flex-shrink: 0;
    height: 50px;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    height: 50px;
    max-width: 680px;
    padding: 15px;
}